/* Sethlewandowski.com Style Sheet*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

:root {
  --background: #4B4B4B;
  --title: #e6b8b8;
  --text: #fff;
  --link-unvisited: #b8cfe6;
  --link-visited: #6d9ccb;
  --title-font: 'Roboto', sans-serif;
  --normal-font: 'Open Sans', sans-serif;
}
*{
  background-color:var(--background);
  color: var(--text);
  font-family: var(--normal-font);
}
nav a{
  color: var(--title);
}

h1, h2, h3, h4, h5 {
  color: var(--title);
  font-family: var(--title-font);
}

h1#masthead a{
  color: var(--title);
  font-size: 35px;
  padding-left: 10px;
  margin: 20px 0px 10px 0px;
}

body{
	max-width:40em;
	margin:0 auto;
	padding:5px;
  font-size:18px;
	line-height:2rem;
}

#hamburger-button{
  z-index: 100;
  display: none;
  background-color: transparent;
  padding-right: 30px
}
#hamburger-top-bun, #hamburger-patty, #hamburger-bottom-bun{
  border-radius: 25px;
  height: 3px;
  background-color: var(--title);
  margin: 6px 0;
}
#hamburger-top-bun{
  width: 30px;
}
#hamburger-patty{
  width: 20px;
}
#hamburger-bottom-bun{
  width: 10px;
}
#menu{
  margin: 0 30px 0 0;
}
#menu a{
  clear: right;
  margin: 0 10px;
  line-height: 70px;
}


/* BODY */
small,.small,footer{font-size:0.8em;}

code{
  font-size: 1.1em;
}

h1,h2,h3,label{line-height:1.1em}

h1,h2,h3,cite{
  margin-top: 30px;
}
h3 {
  font-weight: bold;
}

a {
	text-decoration:none;
	overflow-wrap:break-word;
	word-wrap:break-word
	}

a:link{color: var(--link-unvisited)}
a:visited{color: var(--link-visited)}
a:hover{
  text-decoration:underline;
  color: var(--link-visited);
}

dt{margin-top:2em}

dd{font-style:bold;font-size:90%}

li,dd{margin-bottom:1em}

figure{margin:0}

blockquote{margin:0}

pre{color:#fff;background-color:#333;padding:0.25em;line-height:1}

code{font-size:0.8em}

img,iframe{max-width:100%;display:block}

img{height:auto;max-width:300px;}

input[type="text"],input[type="password"],input[type="email"],select,textarea{
	padding:0.5em 0.6em;
	display:block;
	border:1px solid #ccc;
	box-shadow:inset 0 1px 3px #ddd;
	border-radius:4px;
	vertical-align:middle;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	max-width:99%
}

input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,select:focus,textarea:focus{
	outline:0;
	border-color:#129FEA
}

input[type="submit"]{
	padding:5px;
	font-size:1em;
	background: var(--link-unvisited);
	color:#fff;
	font-weight:bold
}

form.inlineform input{display:inline}

select{
  height:2.25em;
  border:1px solid #ccc;
  background-color:#fff
}

section{margin-bottom:4em}

section#masthead{margin-bottom:1em}


main article header h1{margin-bottom: 0}
main h2 small{margin-left:2em}

div.blogparent{font-size:1.2em;font-weight:bold;margin:1em 0 -0.5em 0}
div.blogparent a{color:#6D7993}

div.presentation_summary{margin-bottom:6em}

.right{
  float:right;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
#oneblog small{
  color: var(--title);
}



@media screen and (max-width: 800px){
  h1#masthead a {
    font-size: 30px;
    padding-left: 5px;
    margin: 20px 0px 10px 0px;
}
  img {
    display: block;
  }
  main{
    margin-top: 80px;
  }
  #navigation-bar{
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 1;
}
  #hamburger-button{
    display: block;
  }
  #menu {
    height: 0;
    width: 100vw; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 60px; /* Stay at the top */
    left: 0;
    text-align: center;
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    margin-top: 0; /* override standard margin top for desktop view*/
    overflow-x: hidden;
  }
  #menu a{
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    margin: 0 auto;
    border-bottom: .5px solid var(--title);
  }
  #menu a:hover{
    color: #f1f1f1;
  }
}
